.header {
  display: flex;
  align-items: center;
  height: fit-content;
  border-bottom: 0.1vw solid whitesmoke;
}

.header__left {
  flex: 0.15;
  display: flex;
}
.header__middle {
  flex: 0.7;
  background: rgb(238, 218, 218);
  padding: 0.5vh 0.5vw;
  display: flex;
  align-items: center;
  border-radius: 1vw;
}

.header__middle > input {
  border: none;
  font-size: medium;
  font-weight: 500;
  outline: none;
  background: rgba(238, 218, 218, 0.1);
  width: 100%;
  margin-left: 0.5vw;
}
.header__right {
  flex: 0.15;
  display: flex;
  align-items: center;
}
